// sass-lint:disable no-vendor-prefixes
html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: inherit;

  &:before,
  &:after {
    box-sizing: inherit;
  }
}

.no-scroll {
  overflow: hidden;
}

.flag {
  display: inline-block;
  width: 3rem;
  height: 2rem;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 0.5rem -0.3rem;
}

.flag-uk {
  width: 30px;
  height: 20px;
  background: url("/images/css_sprites.png") -112px -104px;
}

.flag-ch {
  width: 41px;
  height: 28px;
  background: url("/images/css_sprites.png") -10px -10px;
}

.flag-us {
  width: 31px;
  height: 22px;
  background: url("/images/css_sprites.png") -61px -104px;
}

.flag-uae {
  width: 31px;
  height: 22px;
  background: url("/images/css_sprites.png") -10px -104px;
}

.flag-br {
  width: 31px;
  height: 22px;
  background: url("/images/css_sprites.png") -120px -53px;
}

.flag-can {
  width: 31px;
  height: 22px;
  background: url("/images/css_sprites.png") -58px -58px;
}

.flag-rus {
  width: 31px;
  height: 22px;
  background: url("/images/css_sprites.png") -120px -10px;
}