@font-face {	
  font-family: "Averta";	
  font-weight: 300;	
  font-style: normal;	
  font-display: swap; /* Read next point */	
  unicode-range: U+000-5FF; /* Download only latin glyphs */
  src: local("Averta Light"),	
  url("/fonts/Averta-Light.WOFF") format("woff"),
  url("/fonts/Averta-Light.ttf") format("truetype");
}	

 @font-face {	
  font-family: "Averta";	
  font-weight: 400;	
  font-style: normal;	
  font-display: swap; /* Read next point */	
  unicode-range: U+000-5FF; /* Download only latin glyphs */	
  src: local("Averta Regular"),	
  url("/fonts/Averta-Regular.WOFF") format("woff"),
  url("/fonts/Averta-Regular.ttf") format("truetype");	
}	

 @font-face {	
  font-family: "Averta";	
  font-weight: 600;	
  font-style: normal;	
  font-display: swap; /* Read next point */	
  unicode-range: U+000-5FF; /* Download only latin glyphs */	
  src: local("Averta Semibold"),	
  url("/fonts/Averta-Semibold.WOFF") format("woff"),
  url("/fonts/Averta-Semibold.ttf") format("truetype");	
}	

 @font-face {	
  font-family: "Averta";	
  font-weight: 700;	
  font-style: normal;	
  font-display: swap; /* Read next point */	
  unicode-range: U+000-5FF; /* Download only latin glyphs */	
  src: local("Averta Bold"),	
  url("/fonts/Averta-Bold.WOFF") format("woff"),
  url("/fonts/Averta-Bold.ttf") format("truetype");
} 