.section--blog-list {
  min-height: 75vh;

  h1 {
    text-align: center;
    margin-bottom: 10rem;
  }
}

.section__inner--blog-list {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 15rem;
  padding-bottom: 10rem;
}

.blog-list {
  width: 100%;
  max-width: 100rem;
  display: flex;
  flex-wrap: wrap;
}

.blog-card {
  width: calc(100%/3);
  padding: 1.5rem;

  @media #{$breakpoint-medium-small} {
    width: 50%;
  }

  @media #{$breakpoint-small} {
    width: 100%;
  }

  &:hover {
    .blog-card__inner {
      box-shadow: 0 0 12px 0 rgba(0,0,0,0.25);
    }
  }
}

.blog-card__inner {
  background-color: white;
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.15);
}

.blog-card__image {
  height: 20rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  @media #{$breakpoint-medium-small} {
    height: 30rem;
  }

  @media #{$breakpoint-small} {
    height: 35rem;
  }
}

.blog-card__content {
  padding: 1.5rem 2rem;
  position: relative;

  h3 {
    font-size: 2rem;
  }

  p {
    font-size: 1.4rem;
  }
}

.section--blog-page {
  padding: 5rem 0 10rem;
}

.section__inner--blog-page {
  max-width: 100rem;
}

.banner__image {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 50rem;
}

.section__inner--blog-content {
  max-width: 100rem;
  flex-direction: column;
  padding: 0 2rem;
}

.blog__title {
  width: 100%;
  padding: 4rem 0;
}

.blog__content {
  width: 100%;
}