.section--blog-list {
  min-height: 75vh;

  h1 {
    text-align: center;
    margin-bottom: 10rem;
  }
}

.section__inner--blog-list {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 15rem;
  padding-bottom: 10rem;

  @media #{$breakpoint-small} {
    padding-top: 2rem;
  }
}

.blog-list {
  width: 100%;
  max-width: 100rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.blog-card {
  width: calc(100%/3);
  padding: 1.5rem;

  @media #{$breakpoint-medium-small} {
    width: 50%;
  }

  @media #{$breakpoint-small} {
    width: 100%;
  }

  &:hover {
    .blog-card__inner {
      box-shadow: 0 0 12px 0 rgba(0,0,0,0.25);
    }
  }
}

.blog-card__inner {
  background-color: white;
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.15);
}

.blog-card__image {
  height: 20rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  @media #{$breakpoint-medium-small} {
    height: 30rem;
  }

  @media #{$breakpoint-small} {
    height: 35rem;
  }
}

.blog-card__content {
  padding: 1.5rem 2rem;
  position: relative;

  h3 {
    font-size: 2rem;
  }

  p {
    font-size: 1.4rem;
  }
}

.section--blog-page {
  padding: 5rem 0 10rem;

  @media #{$breakpoint-medium-small} {
    padding: 0 0 10rem;
  }

  .section__inner {
    margin-top: 0;

    h1 {
      margin-bottom: 0;

      @media #{$breakpoint-medium-small} {
        font-size: 4rem;
      }
    }
  }
}

.section__inner--blog-page {
  max-width: 100rem;
}

.banner__image {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 50rem;
}

.section__inner--blog-content {
  max-width: 100rem;
  flex-direction: column;
  padding: 0 2rem;
}

.blog__title {
  width: 100%;
  padding: 4rem 0;
}

.blog__content {
  width: 100%;

  h2 {
    margin-bottom: 1rem;
  }

  strong {
    font-weight: $font-weight-semi-bold;
  }

  p {
    margin-bottom: 1rem;
  }

  ol {
    margin-bottom: 1rem;
    list-style: decimal;
    list-style-position: inside;
    padding-left: 2rem;
  }
  
  ul {
    margin-bottom: 1rem;
    list-style: disc;
    list-style-position: inside;
    padding-left: 2rem;
  }

  li {
    margin-bottom: 0.5rem;
    font-family: $font-family-heading;
    font-size: 1.7rem;
    font-weight: $font-weight-light;
    line-height: 1.27;
    color: $color-text;
  }

  img {
    display: block;
    margin: 5rem auto;
    max-width: 100%;
  }

  blockquote {
    font-size: 1.8rem;
    width: 90%;
    margin: 3rem auto;
    padding: 1.2rem 5rem;
    border-left: 0.8rem solid $color-primary ;
    line-height: 1.6;
    position: relative;

    &::before {
      font-family: Arial;
      content: "\201C";
      color: $color-primary;
      font-size: 5rem;
      position: absolute;
      left: 1rem;
      top: -1rem;
    }
  }
}